{{!--

You can use this if they try to access a route that they should not be able to. You will redirect them here. For
example, if they go to /protected without being logged in, or they try to access /admin without beinging logged in or
they are not an admin user.

--}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h1>Error {{status}}</h1>
  <p>{{message}}</p>
  <script src="/public/js/client_side_validation.js"></script>
</body>
</html>
