
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h1>Error {{status}}</h1>
  <p>{{message}}</p>
  <script src="/public/js/client_side_validation.js"></script>
</body>
</html>
